<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Template</title>
    <!-- Bootstrap CSS CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Hello, Bootstrap! Skripsi Amru</h1>
        <p class="lead">This is a simple Bootstrap template using CDN.</p>
        <% for (let data of result) { %>
          <ul>
            <li><%= data.id %></li>
            <li><%= data.variabel_independent %></li>
            <li><%= data.variabel_dependent %></li>
          </ul>
        <% } %>
    </div>

    <!-- form input -->
  <form action="/add" method="post">
    <div class="form-floating mb-3">
      <label for="variabel_independent">Variabel Independen</label>
      <input type="text" name="variabel_independent" class="variabel_independent m-2 p-4" id="variabel_independent" placeholder="Input Independen Variabel">
    </div>
    <div class="form-floating">
      <label for="variabel_dependent">Variabel Dependen</label>
      <input type="text" name="variabel_dependent" class="variabel_dependent m-2 p-4" id="variabel_dependent" placeholder="Input Dependen Variabel">
    </div>
    <input type="submit">
  </form>
    <!-- Bootstrap JS and dependencies CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>